<% include ../partials/header %>
<div class="container">
<div class="row">
<h1 style="text-align: center;">Edit <%= campground.name %></h1>

<div style="width: 30%; margin:25px auto">
<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
<div class="form-group">
    <input class="form-control" type="text" placeholder="name" name="campground[name]" value="<%= campground.name%>">
    </div>
<div class="form-group">
    <input class="form-control" type="number" placeholder="price" name="campground[price]" value="<%= campground.price%>" min="0.01" step="0.01">
    </div>
    <div class="form-group">
    <input class="form-control" type="text" placeholder="image url" name="campground[image]" value="<%= campground.image%>">
    </div>
        <div class="form-group">
    <textarea class="form-control" rows="4" placeholder="description" name="campground[description]"><%= campground.description %></textarea>
   </div>

    <div class="form-group">
    <input class="form-control" type="text" placeholder="location" name="campground[location]" value="<%= campground.location %>">
   </div>

     <div class="form-group">
    <textarea class="form-control" rows="4" placeholder="hiking trails" name="campground[hiking_trails]"><%= campground.hiking_trails %></textarea>
   </div>

   <div class="form-group">
    <textarea class="form-control" rows="4" placeholder="accommodation" name="campground[accommodation]"><%= campground.accommodation %></textarea>
   </div>
   
    <div class="form-group">
    
    <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
    </div>
     </div>
    
    
</form>
<a href="/campgrounds">Go back</a>

</div>

</div>

</div>
<% include ../partials/footer %>

